body {
    background: teal;
}

.window {
    //position: absolute;
    resize: both;
    overflow: auto;
    min-width: max-content;
    min-height: max-content;
}

.window-header{
    cursor: grab;
}

#taskbar{
    position:fixed;bottom:0;left:0;right:0;
    height:42px;
    background:#c0c0c0;
    display:flex;
    align-items:center;
    z-index:999;
    padding-left: 10px;
}

#taskbtn{
    margin-right: 30px;
}

#taskbar-clock {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    font-size: 15px;
  }